html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .all {
  display: grid;
  grid-template-columns: 1fr 3fr;

} */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  /* height: 100%; */
  width: 90%;
  background-image: url(./assets/more-triangles.png);
  padding: 20px;
  background-size: cover;
  /* margin-right: 10px; */
  border-bottom: solid 5px #525252;
}

.name {
  font-size: 35px;
  color: #525252;
  margin: 0;
  margin-top: 10px;
  margin-left: 20px;
}

.contact-img {
  width: 40px;
  height: 40px;
}

 .hidden {
  display: none;
}

.lighten { 
  opacity: 10%;
}

.contact-info {
  display: flex;
  flex-direction: row;
}

.linkedin, .github, .email {
  display: flex;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.email, .linkedin, .github {
  margin-left: 20px;;
}

.email {
  color: #525252;
  text-decoration-color: #525252;
  font-size: 15px;
}

.linkedin a, .github a, .email a {
  text-decoration-color: #525252;
}

.linkedin h2, .github h2, .email h2 {
  margin: 0;
  margin-left: 5px;
  color: #525252;
  font-size: 15px
}

p {
  font-size: 15px;
  /* width: 100% */
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
}

#about {
  font-size: 30px;
}


.headshot {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.experience {
  display: flex;
  flex-direction: row;
  padding: 10px
}

.list-title {
  list-style: none;
  font-size: 20px;
}

#experience, #projects {
  font-size: 30px;
  margin: 0px;
}

.experience {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

ul { 
  padding: 0px;
  margin-right: 50px;
}

.list-title {
  font-size: 20px;
  text-decoration: underline;
}

li {
  font-size: 15px;
  list-style: none;
}

.arrow {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 5%;
  left: 80%
}

.project-img {
  border-radius: 15px;
  width: 90%;
}

.project-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  height: 150px;
  perspective: 600;
  position: relative;
  width: 300px;
}

.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}

.card:hover {
  transform: rotateY(180deg);
}

.card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%;
}

.card .back {
  transform: rotateY(180deg);
}

.tech-stack {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tech-summary {
  width: 100%;
}